<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Front Page</title>
</head>
<body>
<h2>Create Product</h2>
<form id="product-form">
    <label>Product Name: <input type="text" id="product-name"/></label><br>
    <label>Price: <input type="text" id="product-price"/></label><br>
    <label>Weight: <input type="text" id="product-weight"/></label><br>
    <button type="button" onclick="createProduct()">Create Product</button>
</form>


<script src="/resources/js/index.js"></script>
</body>
</html>